.user-show
  = render "videos/header"
  .user-show__details
    .user-show__details__box
      .user-show__details__box__user
        %p
          = @name
          's MY PAGE
      .user-show__details__box__edit
        = link_to edit_user_path, class: 'user-show__details__box__edit__btn' do
          編集する
  .user-show__main
    %p FAVORITE VIDEO
    .user-show__main__videoes-list
      - @favorites.each do |video|
        = link_to video_path(video.id), class: "user-show__main__videoes-list__group" do
          %label{class: "user-show__main__videoes-list__group__label"}
            .user-show__main__videoes-list__group__label__video
              = image_tag video.video_url(:screenshot).to_s
            .user-show__main__videoes-list__group__label__text
              .cuser-show__main__videoes-list__group__label__text__song-title
                = video.song_title
              .user-show__main__videoes-list__group__label__text__artist
                = video.artist
              .user-show__main__videoes-list__group__label__text__created-at
                = video.created_at.strftime("%Y年%m月%d日  %H時%M分")
              .user-show__main__videoes-list__group__label__text__user-name
                = video.user.name
    .user-show__main__paginate
      = paginate(@videos)
    %p MY VIDEO
    .user-show__main__videoes-list
      - @videos.each do |video|
        = link_to video_path(video.id), class: "user-show__main__videoes-list__group" do
          %label{class: "user-show__main__videoes-list__group__label"}
            .user-show__main__videoes-list__group__label__video
              = image_tag video.video_url(:screenshot).to_s
            .user-show__main__videoes-list__group__label__text
              .cuser-show__main__videoes-list__group__label__text__song-title
                = video.song_title
              .user-show__main__videoes-list__group__label__text__artist
                = video.artist
              .user-show__main__videoes-list__group__label__text__created-at
                = video.created_at.strftime("%Y年%m月%d日  %H時%M分")
              .user-show__main__videoes-list__group__label__text__user-name
                = video.user.name
    .user-show__main__paginate
      = paginate(@videos)