.header
  .header__left-content
    = link_to root_path, class: "header__left-content__icon" do
      Live App
  .header__right-content
    -if user_signed_in?
      = link_to user_path(current_user.id), class: "header__right-content__btn" do
        = current_user.name
      = link_to new_video_path, class: "header__right-content__btn" do
        Create
      = link_to destroy_user_session_path, method: :delete, class: "header__right-content__btn" do
        Logout
    -else
      = link_to new_user_session_path, class: "header__right-content__btn" do
        Login
      = link_to new_user_registration_path, class: "header__right-content__btn" do
        SignUp