.contents
  .contents__fv-section
    .contents__fv-section__bottom
      = form_tag videos_searches_path, method: :get, class: "contents__fv-section__bottom__artist" do
        = text_field_tag :keyword, '', class: 'contents__fv-section__bottom__artist__input', placeholder: 'アーティスト名 , 曲名'
        = submit_tag '検索', class: 'contents__fv-section__bottom__artist__btn'
  .contents__main
    %p ALL CONTENTS
    .contents__main__videoes-list
      - @videos.each do |video|
        = link_to video_path(video.id), class: "contents__main__videoes-list__group" do
          %label{class: "contents__main__videoes-list__group__label"}
            .contents__main__videoes-list__group__label__video
              = image_tag video.video_url(:screenshot).to_s
            .contents__main__videoes-list__group__label__text
              .contents__main__videoes-list__group__label__text__song-title
                = video.song_title
              .contents__main__videoes-list__group__label__text__artist
                = video.artist
              .contents__main__videoes-list__group__label__text__created-at
                = video.created_at.strftime("%Y年%m月%d日  %H時%M分")
              .contents__main__videoes-list__group__label__text__user-name
                = video.user.name
    .contents__main__paginate
      = paginate(@videos)
.footer